<div class="card mt-4">
    <app-loading *ngIf="isLoading"></app-loading>
    <div class="card-header">
        Pridėti naują knygą
    </div>
    <div class="card-body">
        <app-error *ngIf="isError" [message]="'Pridėti naujo įrašo nepavyko'"></app-error>
        <div class="mb-3">
            <label for="" class="form-label">Autorius</label>
            <input type="text" name="" id="" class="form-control" [(ngModel)]="author">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Pavadinimas</label>
            <input type="text" name="" id="" class="form-control" [(ngModel)]="description">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Metai</label>
            <input type="text" name="" id="" class="form-control" [(ngModel)]="year">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Statusas</label>
            <select class="form-control" [(ngModel)]="status">
                <option value="nupirkta">Nupirkta</option>
                <option value="pradeta">Pradeta skaityti</option>
                <option value="perskaityta">Perskaityta</option>
            </select>
        </div>
        <button class="btn btn-primary" (click)="addBook()" [disabled]="author==null||description==null||year==null||status==null">Pridėti</button>
    </div>
</div>