<div class="card mt-4">
    <div class="card-header">Knygų sąrašas</div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Nr.</th>
                    <th>Autoriusd</th>
                    <th>Pavadinimas</th>
                    <th>Metai</th>
                    <th>Statusas</th>
                    <th>Veiksmai</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of books; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.description}}</td>
                    <td>{{book.year}}</td>
                    <td>{{book.status}}</td>
                    <td>
                        <a class="btn btn-success">Redaguoti</a>
                        &nbsp;&nbsp;
                        <button class="btn btn-danger">Ištrinti</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>